# Data Preprocessing

In [5]:
# -------------------------------------------------------------------------------
# import packages
import pandas as pd 
import numpy as np

## Load and Process Data

In [ ]:
# load dataset
# hiring_data =  pd.read_csv('data/recruitmentdataset-2022-1.3.csv')
hiring_data =  pd.read_csv('data/hiring_data.csv')

# ----------------------------------------------------
# gender numeric column
hiring_data['gender'] = hiring_data['gender'].map({'male': 0, 'female': 1, 'other': 2})
hiring_data['gender'] = hiring_data['gender'].astype(int)

# count gender 2
gender_counts = hiring_data['gender'].value_counts()

# drop gender 2 (other)
hiring_data = hiring_data[hiring_data['gender'] != 2]

# convert object (string) columns to categorical
hiring_data = hiring_data.astype({col: 'category' for col in hiring_data.select_dtypes(include='object').columns})

# Find object (string) and categorical columns
non_numeric_cols = hiring_data.select_dtypes(include=['object', 'category']).columns

# numeric columns
for col in non_numeric_cols:
    hiring_data[col] = hiring_data[col].astype('category').cat.codes
hiring_data[non_numeric_cols] = hiring_data[non_numeric_cols].astype(int)

# Convert all boolean columns to binary (0 and 1)
hiring_data = hiring_data.astype({col: 'int' for col in hiring_data.select_dtypes(include='bool').columns})

gender
0    2127
1    1790
2      83
Name: count, dtype: int64

In [7]:
hiring_data['gender'].value_counts()

gender
0    2127
1    1790
Name: count, dtype: int64

In [ ]:
hiring_data

,Id,age,gender,ind-debateclub,ind-degree,ind-entrepeneur_exp,ind-exact_study,ind-international_exp,ind-languages,ind-previous_exp,ind-programming_exp,ind-testresult,ind-university_grade,nationality,sport,decision
0,3060,24,1,0,2,0,1,0,1,4,0,36,70,2,6,1
1,2169,26,0,0,0,0,1,0,2,4,1,26,67,2,3,0
2,2137,23,1,0,1,0,1,1,0,4,1,38,67,1,5,0
3,493,24,0,0,1,0,1,0,1,4,1,40,70,1,1,1
4,2250,26,1,0,1,0,0,0,1,4,0,22,59,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,2886,28,1,0,1,0,0,0,0,1,0,29,63,1,5,0
3996,982,27,1,0,0,1,1,0,2,1,0,36,62,1,7,0
3997,74,24,0,1,0,1,0,0,2,1,0,22,60,0,4,0
3998,97,22,1,0,0,0,1,0,1,1,1,17,66,1,7,0
3999,585,28,0,0,0,0,0,0,1,1,0,31,58,1,2,0